<section class="content-header">
  <h1>
    Data Tables
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">Data tables</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Data Table With Full Features</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>卡号</th>
                <th>会员姓名</th>
                <th>手机号</th>
                <th>会员次数</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @members.each do |w| %>
              <tr>
                <td><%= w.card_number %></td>
                <td><%= w.member_name %></td>
                <td><%= w.telephone %></td>
                <td><%= w.consumption_number %></td>
                <td></td>
              </tr>
              <% end %>
            </tbody>
            
          </table>
           共<%= @members.total_entries %>条数据<%= will_paginate @members ,renderer: BootstrapPagination::Rails ,class: "pull-right", previous_label: '上一页', next_label: '下一页' %>
           <%= will_paginate @members  ,class: "pull-right", previous_label: '上一页', next_label: '下一页' %>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>

</section>

