<section class="content-header">
  <h1>
   <%= Member.type.value_label_map[@type] %>列表
   <small>advanced tables</small>
 </h1>
 <ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li><a href="#">Tables</a></li>
  <li class="active">Data tables</li>
</ol>
</section>
<section class="content">

  <%= form_tag members_path, method: "get", role: "form" do %>
  <div class="row">
   <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="order_id">会员卡号</label>
      <%= text_field_tag "search[card_number_eq]", params["search"].try(:[], :card_number_eq), class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="status">会员手机号</label>
      <%= text_field_tag "search[telephone_cont]", params["search"].try(:[], :telephone_cont), class: "form-control" %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="order_id">会员姓名</label>
      <%= text_field_tag "search[member_name_cont]", params["search"].try(:[], :member_name_cont), class: "form-control" %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label class="control-label" for="order_id">会员类型</label>
      <%= select_tag "search[type_eq]", options_for_select(Member.type.label_value_map, params["search"].try(:[], :type_eq)), class: "form-control", prompt: "全部" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <button type="submit" class="btn btn-info pull-right form-control">搜索</button>
    </div>
  </div>
</div></br>
<% end %>

<div class="row">
  <div class="col-xs-12">


    <div class="box">
      <div class="box-body">
        <ul class="nav nav-tabs">
          <li role="presentation" class="<% if @type == 'JianMember' %>active <% end %>">
            <%= link_to "剪发卡会员", members_path(search: {type_eq: :JianMember}) %>
          </li>
          <li role="presentation" class="<% if @type == 'TangMember' %>active <% end %>">
            <%= link_to "烫染卡会员", members_path(search: {type_eq: :TangMember}) %>
          </li>
          <li role="presentation" class="<% if @type == 'JuMember' %>active <% end %>">
            <%= link_to "护理套装会员", members_path(search: {type_eq: :JuMember}) %>
          </li>
        </ul></br>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <% if @type == "JianMember"%>
              <%= link_to '新增剪发卡会员', new_member_path(type: "JianMember") , class: "btn btn-warning  form-control"%>
              <% elsif @type == "TangMember" %>
              <%= link_to '新增烫染卡会员', new_member_path(type: "TangMember") , class: "btn btn-warning  form-control"%>
              <% elsif @type == "JuMember" %>
              <%= link_to '新增护理套装会员', new_member_path(type: "JuMember") , class: "btn btn-warning  form-control"%>
              <% end %>
            </div>
          </div>
        </div>
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>卡号</th>
              <th>会员姓名</th>
              <th>手机号</th>
              <th>会员次数</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |w| %>
            <tr>
              <td><%= w.card_number %></td>
              <td><%= w.member_name %></td>
              <td><%= w.telephone %></td>
              <td><%= w.consumption_number %></td>
              <td></td>
            </tr>
            <% end if @members.present? %>
          </tbody>

        </table>
        共<%= @members.total_entries %>条数据
        <%= will_paginate @members  ,class: "pull-right", previous_label: '上一页', next_label: '下一页' %>
      </div>
      
    </div>
  </div>
</div>

</section>

